// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container {
  margin: 20px auto;
  width: 1500px;
}

.link:hover {
  text-decoration: none;
}
